extends layout 

block content 
    div.add_friend_form_container
        h1.add_friend_form_title= title 
        form(method='POST' action='').add_friend_form_main
          div.add_friend_form_group_username 
            input#username(type='text' placeHolder="Username" name='username' required='true')
        
          button.add_friend_form_button(type="submit") Search
        if userFound
            if userFound.friend_request.includes(currentUser.id)
              h3.add_friend_form_truetitle Search Result
              p.add_friend_form_username!= userFound.username
              p.add_friend_form_request_sent Friend Request is sent. Wait for response.
            
            else if currentUser.friend_request.includes(userFound.id)
              h3.add_friend_form_truetitle Search Result
              p.add_friend_form_username!= userFound.username
              p.add_friend_form_request_received This user sent you friend request. Please response.

            else if currentUser.friend_list.includes(userFound.id)
              h3.add_friend_form_truetitle Search Result
              p.add_friend_form_username!= userFound.username
              p.add_friend_form_request_received This user is already on your friend list.
            else
              h3.add_friend_form_truetitle Search Result
              p.add_friend_form_username!= userFound.username
              a(href=`/add-friend/${userFound.id}`) Send Friend Request
            //- if ()
        else if userNotFound
            h3.add_friend_form_truetitle Search Result
            p!= userNotFound
        if successMessage
            h3.add_friend_form_truetitle
            each message in successMessage
              div.alert.alert-success!= message

        if errors
          ul.error_field
            for error in errors
              li!= error